{:deps  {org.clojure/clojure       #:mvn{:version "1.10.0"},
         org.clojure/clojurescript #:mvn{:version "1.10.844"},
         com.bhauman/figwheel-main {:mvn/version "0.2.14"}
         reagent/reagent           {:mvn/version "1.1.0"}}
 :paths ["src-cljs" "resources" "target"]}

